.icon{
    background-repeat: no-repeat;
    background-size: contain!important;
    background-position: 0 0;
    display: inline-block;
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;

    &_double{
        position: relative;

        @include bp(hv){
            &:hover{
                &:before{opacity: 0;}
                &:after{opacity: 1;}
            }

            a:hover>&, .advantages-item:hover &, button:hover>&{
                &:before{opacity: 0;}
                &:after{opacity: 1;}
            }
        }

        &:before, &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            transition: all 0.3s ease-out;
        }
        &:after{
            opacity: 0;
        }
    }

    .active>&{
        &:before{opacity: 0;}
        &:after{opacity: 1;}
    }

    &_link{
        transition: all 0.3s ease-out;
        margin: -0.2rem 0 0 0.1rem;

        @include bp(hv){
            a:hover>&{
                transform: rotate(45deg);
            }
        }
    }
}
.icon-email-inversion{
    background-image: url(../img/icons/email-inversion.svg);
}
.icon-phone-inversion{
    background-image: url(../img/icons/phone-inversion.svg);
}
.icon-arrow{

    &:before{
        background-image: url(../img/icons/arrow.svg);
    }

    &:after{
        background-image: url(../img/icons/arrow-primary.svg);
    }
}

.icon-snowflake{
    width: 6.4rem;
    height: 6.4rem;

    &:before{
        background-image: url(../img/icons/snowflake.svg);
    }

    &:after{
        background-image: url(../img/icons/snowflake-inversion.svg);
    }
}

.icon-play{
    width: 10.8rem;
    height: 10.8rem;

    @include bp(sm){
        width: 4.8rem;
        height: 4.8rem;
    }

    &:before{
        background-image: url(../img/icons/play.svg);
    }

    &:after{
        background-image: url(../img/icons/play-active.svg);
    }
}

.icon-prev{
    background-image: url(../img/icons/prev.svg);
}

.icon-next{
    background-image: url(../img/icons/next.svg);
}

.icon-clock-inversion{
    background-image: url(../img/icons/clock-inversion.svg);
}

.icon-arrow-circle{
    width: 1.6rem;
    height: 1.6rem;

    &:before{
        background-image: url(../img/icons/arrow-circle.svg);
    }

    &:after{
        background-image: url(../img/icons/arrow-circle-active.svg);
    }
}

.icon-caret-prev{
    background-image: url(../img/icons/caret-prev.svg);
}

.icon-caret-next{
    background-image: url(../img/icons/caret-next.svg);
}

.icon-close{
    width: 2rem;
    height: 2rem;
    background-image: url(../img/icons/close.svg);
}

.icon-filter{
    width: 2rem;
    height: 2rem;
    background-image: url(../img/icons/filter.svg);
}









.icon-{
    width: rem;
    height: rem;
    background-image: url(../img/icons/.svg);
}

.icon-{
    width: rem;
    height: rem;

    &:before{
        background-image: url(../img/icons/.svg);
    }

    &:after{
        background-image: url(../img/icons/-active.svg);
    }
}