a{
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: $black;

    @include bp(hv){
        &:hover{
            color: $primary;
        }
    }
}
// .link_underline{
//     display: inline-block;
//     padding-bottom: 0.8rem;
//     border-bottom: 1px solid $primary;
//     &:hover{
//         text-decoration: none!important;
//         border-color: transparent;
//     }
// }
p{
    margin-bottom: 2.4rem;
}
.title{
    font-size: 5.2rem;
    line-height: 115.385%;
    font-weight: 400;
    position: relative;

    @include bp(md){
        font-size: 4.5rem;
    }

    @include bp(sm){
        font-size: 2.8rem;
        line-height: 3.4rem;
    }

    &__num{
        font-size: 1.4rem;
        line-height: 2rem;
        position: absolute;
        width: 7.95rem;
        right: 100%;
        top: 3.4rem;

        @include bp(sm){
            position: static;
            display: block;
            margin-bottom: 0.4rem;
        }
    }

    &_size{
        &-xs{
            
        }
        &-sm{
            font-size: 3.2rem;
            line-height: 4.8rem;

            @include bp(sm){
                font-size: 1.8rem;
                line-height: 2.6rem;
            }
        }
        &-md{
            
        }
        &-lg{
            font-size: 8.2rem;
            line-height: 100%;
        }
        &-xl{
            font-size: 10.8rem;
            line-height: 125.926%;
            letter-spacing: 0.108rem;

            @include bp(md){
                font-size: 8rem;
            }

            @include bp(sm){
                font-size: 4.6rem;
                letter-spacing: 0.046rem;
            }
        }
    }

}
.text{
    &_upper{
        text-transform: uppercase;
    }
    // size
    &_size{
        &-xs{
            
        }
        &-sm{
            font-size: 1.4rem;
            line-height: 2rem;
        }
        &-md{
            font-size: 2.2rem;
            line-height: 3.2rem;

            @include bp(sm){
                font-size: 1.8rem;
                line-height: 2.6rem;
            }
        }
        &-lg{
            
        }
        &-xl{
            
        }
    }
    // colors
    &_primary{

    }

    &_inversion{
        color: #fff;
    }

    &_dark{
        color: $dark;
    }

    // weight
    &_normal{
        font-weight: 400;
    }
    &_mediumbold{
        font-weight: 500;
    }
    // &_bold{
    //     font-weight: 700;
    // }
    // alignment
    &_center{
        text-align: center;
        &_sm{
            @include bp(sm){
                text-align: center;
            }
        }
    }
    &_left{
        text-align: left!important;
    }
    &_right{
        text-align: right!important;
    }
}

